@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a { /* texte en noir sans style */
  color: black;
  text-decoration: none;
}

.etape {
  background-color: #F6F6F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Ombre */
  transition: background-color 0.3s ease;
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center; /* Centrer le logo */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  /* Logo */
}
.header .logo {
  max-width: 150px; /* Taille du logo pour mobile */
  height: auto;
}

.btn { /*bouton*/
  display: inline-block;
  padding: 16px 24px;
  border-radius: 32px;
  color: #FFF;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}
.btn .btn:after { /*bouton effet*/
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 32px;
  background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.btn:hover { /*bouton effet*/
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover .btn:hover:after { /*bouton effet*/
  opacity: 1;
}

.btn-like {
  position: relative;
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  transition: trazznsform 0.3s ease;
}

.btn-like:hover {
  transform: scale(1.2); /* Effet de survol */
}

/* Changer la couleur de l'icône au survol */
.btn-like:hover .icon-heart {
  color: #9356DC; /* Couleur violet */
}

.footer-title { /* mettre la bonne police d'écriture et ajouter une margin */
  font-family: "Shrikhand", cursive;
  margin-bottom: 20px;
}

.footer { /* mettre un fond gris en mettant le texte en blanc et ajouter de l'espace */
  background-color: #353535;
  padding: 20px;
  color: white;
  margin-top: -13px;
}

.footer__link { /* ajuster les liens des textes en mettant des espacements */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__link li { /* enlever la marge des li */
  margin: 0;
}

.footer__link a { /* texte des liens en blanc */
  color: white;
  text-decoration: none;
}

.footer__link a:hover {
  text-decoration: underline;
}

.btn-like {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.btn-like i {
  transition: color 0.3s ease;
}

.btn-like:hover i {
  /* Effet de dégradé en fond avec des couleurs définies */
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text; /* Applique le dégradé uniquement au texte */
  -webkit-text-fill-color: transparent; /* Rend le texte transparent pour voir le dégradé */
  /* Application du poids de la police pour plus de contraste au survol */
  font-weight: bold;
}

.navbar {
  position: absolute; /* Positionnement absolu */
  left: 30px; /* Écart de 40px à gauche */
  top: 17%; /* Centrer verticalement */
  font-size: 1.9em;
}

.header .navbar a i {
  color: #808080 !important;
}

.menu {
  padding: 0;
}

.menu__banner { /* ajuster l'image de banier */
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.menu__content { /* fond gris avec les bordures en haut */
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -90px;
  padding-bottom: 1vh;
  position: relative;
  z-index: 2;
}

.menu__info { /* info du menu nom et coeur ajustement */
  margin-bottom: 40px; /* 40px */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu__title { /* style de texte */
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 0;
  margin-left: 27px;
}

.menu__plates {
  margin-bottom: 50px;
}

.underline-title { /* style de texte souligné */
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
}

.underline-title:after { /* style de texte souligné */
  background: #99E2D0;
  bottom: -5px;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  width: 40px;
}

.menu__plates {
  margin-bottom: 50px;
}

.menu__order {
  text-align: center;
  margin-bottom: 50px;
}

.plate { /* mettre les plats en évidence avec un fond gris et des bordures */
  padding: 12px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  animation: plate-appear 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.plate__info { /* ajuster les informations des plats */
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.plate__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.plate__composition { /* composition des plats texte pas en gras */
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plate__price { /* mettre le prix en bas de la carte */
  align-self: flex-end;
  margin-left: 10px;
}

.plate__confirmation { /* animation bouton */
  background-color: #99E2D0;
  color: #FFF;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 11px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -12px -72px -12px 16px;
  transition: margin-right 600ms ease;
}

.plate:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.plate:hover .plate__confirmation {
  margin-right: -0.75rem;
}

.btn--py { /* bouton tel adaptation */
  padding-left: 50px;
  padding-right: 50px;
}

@media (min-width: 1024px) {
  .menu__content {
    max-width: calc(120% - 460px); /* Espace de 240px de chaque côté pour encore plus réduire la largeur */
    margin: -20px auto 0;
    overflow: hidden;
    margin-bottom: 13px;
  }
  .menu__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__title {
    margin-right: 10px;
  }
  .plate {
    overflow: hidden;
    width: calc(75% - 65px); /* Réduit la largeur pour un espace de 60px de chaque côté */
    height: auto; /* Permet à la hauteur de s'ajuster automatiquement */
    margin: 20px auto; /* Ajoute un espace de 20px entre chaque plat */
    padding: 15px;
    border-radius: 8px;
    background-color: #fffefe; /* Optionnel : ajoute un fond clair pour démarquer chaque plat */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre légère */
  }
  .menu__title { /* style de texte */
    font-family: "Shrikhand", cursive;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 0;
    margin-left: 1px;
  }
  .underline-title {
    margin-left: 15%;
  }
}
@media (max-width: 1024px) {
  .plate {
    width: calc(100% - 60px); /* Largeur réduite pour un espace de 30px de chaque côté */
    height: auto;
    margin: 10px auto; /* Espace de 10px entre chaque plat pour les écrans plus petits */
    overflow: hidden;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.plate {
  opacity: 0; /* Invisible par défaut */
  animation: fade-in 2s ease forwards;
}

.plate:nth-child(1) {
  animation-delay: 0.2s;
}

.plate:nth-child(2) {
  animation-delay: 0.4s;
}

.plate:nth-child(3) {
  animation-delay: 0.6s;
}

.plate:nth-child(4) {
  animation-delay: 0.8s;
}

/* Ajoutez plus de nth-child si vous avez plus de plats */

/*# sourceMappingURL=restaurant.css.map */
