@charset "UTF-8";
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.fa-utensils {
  padding: 0px 2px 0px 4px;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.logo {
  max-width: 150px;
  height: auto;
}

/* Restaurant Address */
.restaurant__address input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

/* Etape */
.etape {
  background-color: #F6F6F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease; /* Transition douce sur la couleur de fond */
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 32px;
  color: #FFF;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%); /* Fond en dégradé pour les boutons */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2); /* Ombre portée sur les boutons */
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 32px;
  background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}
.btn:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover:after {
  opacity: 1; /* Affiche l'effet de survol */
}

/* Icon Mobil */
.icon-mobil {
  color: #9356DC;
}

.etape:hover .icon-mobil {
  color: #9356DC;
}

.etape:last-child .icon-mobil {
  color: #9356DC; /* Restaure la couleur par défaut sur le dernier élément */
}

footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  margin-top: -13px;
}
footer .omffooter {
  margin-bottom: -11px;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-flow: row-reverse;
    padding: 30px 25px;
    gap: 90px;
  }
}
footer h3 {
  font-size: 1.125rem;
  font-family: "Shrikhand", serif;
}
footer .footer-contenair {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 7px;
  margin-bottom: -9px;
}
@media screen and (min-width: 1024px) {
  footer .footer-contenair {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
  }
}
footer a {
  display: flex;
  gap: 11px;
  align-items: flex-start;
  font-weight: 500;
  color: white;
}
footer i {
  width: 11px;
  height: 13px;
  font-size: 14px;
}
@media (max-width: 1023px) and (min-width: 580px) {
  footer {
    flex-flow: row;
    padding: 30px 25px;
    gap: 90px;
  }
  footer h3 {
    font-size: clamp(0.875rem, 3vw, 1.125rem);
    font-family: "Shrikhand", serif;
    order: 2;
  }
  footer .footer-contenair {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: -9px;
  }
  footer a {
    display: flex;
    gap: 11px;
    align-items: flex-start;
    font-weight: 500;
    color: white;
    order: 1;
  }
  footer i {
    width: 11px;
    height: 13px;
    font-size: 14px;
  }
}

.heart i {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  margin-top: -16px;
}

.my-heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}
.my-heart-full:hover {
  opacity: 1;
  color: #9356DC;
  background-image: linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: text;
  color: transparent;
}

.navbar {
  position: absolute;
  left: 30px;
  top: 17px;
  font-size: 1, 9em;
}

.header .navbar a i {
  color: #808080 !important;
}

.menu {
  padding: 0;
}

.menu__banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.menu__banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.menu__content {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -90px;
  padding-bottom: 1vh;
  position: relative;
  z-index: 2;
}

.menu__info {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 0;
  margin-left: 27px;
}

.menu__plates {
  margin-bottom: 50px;
}

.underline-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  margin-left: 13px;
}

.underline-title:after {
  background: #99E2D0;
  bottom: -5px;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  width: 40px;
}

.menu__order {
  text-align: center;
  margin-bottom: 50px;
}

.plate {
  padding: 12px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  animation: plate-appear 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.plate__info {
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.plate__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.plate__composition {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plate__price {
  align-self: flex-end;
  margin-left: 10px;
}

.plate__confirmation {
  background-color: #99E2D0;
  color: #FFF;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 11px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -12px -72px -12px 16px;
  transition: margin-right 600ms ease;
}

.plate:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.plate:hover .plate__confirmation {
  margin-right: -0.75rem;
}

.btn--py {
  padding-left: 50px;
  padding-right: 50px;
}

.fa-regular, .far {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  margin-right: 31px;
}

@media (min-width: 1024px) {
  .menu__content {
    max-width: calc(120% - 460px);
    margin: -20px auto 0;
    overflow: hidden;
    margin-bottom: 13px;
  }
  .menu__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__title {
    margin-right: 10px;
  }
  .plate {
    overflow: hidden;
    width: calc(75% - 65px);
    height: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    background-color: #fffefe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .menu__title {
    font-family: "Shrikhand", cursive;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 0;
    margin-left: 1px;
  }
  .underline-title {
    margin-left: 15%;
  }
}
@media (max-width: 1024px) {
  .plate {
    width: calc(100% - 60px);
    height: auto;
    margin: 10px auto;
    overflow: hidden;
  }
}
@media (min-width: 377px) and (max-width: 1023px) {
  .navbar {
    left: 20px;
    font-size: 1.5em;
  }
  .menu__banner {
    height: 250px;
  }
  .menu__content {
    margin-top: -50px;
    padding: 1rem;
  }
  .menu__title {
    font-size: 24px;
    margin-left: 40%;
  }
  .underline-title {
    font-size: 14px;
    margin-left: 10px;
  }
  .plate {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
  }
  .plate__confirmation {
    font-size: 18px;
    width: 50px;
  }
}
@media (min-width: 377px) and (max-width: 1023px) {
  .menu__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .menu__title {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn-like {
    margin-left: 15px;
  }
}
@keyframes scrollPlates {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.plate {
  padding: 12px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  animation: scrollPlates 0.6s ease-out forwards;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-between;
  flex-wrap: nowrap;
  opacity: 0;
}

.plate:nth-child(1) {
  animation-delay: 0.2s;
}

.plate:nth-child(2) {
  animation-delay: 0.4s;
}

.plate:nth-child(3) {
  animation-delay: 0.6s;
}

.plate:nth-child(4) {
  animation-delay: 0.8s;
}

.plate:nth-child(5) {
  animation-delay: 1s;
}

.plate:nth-child(6) {
  animation-delay: 1.2s;
}

@media (max-width: 375px) {
  .heart i {
    margin-left: -90px;
    margin-top: -2px;
  }
  .menu__title {
    margin-top: 31px;
    font-size: 24px;
  }
}

/*# sourceMappingURL=restaurant.css.map */
