@import "variables";
@import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center; /* Centrer le logo */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  /* Logo */
  .logo {
    max-width: 150px; /* Taille du logo pour mobile */
    height: auto;
  }
}

.btn {
  @include bouton-style;
}

@include footer-style; // footer mobilfirst