/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; 
}

.fa-utensils {
  padding: 0px 2px 0px 4px; 
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif; 
}

a {
  color: black;
  text-decoration: none; 
}

/* Header */
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.logo {
  max-width: 150px;
  height: auto; 
}

/* Restaurant Address */
.restaurant__address input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  font-weight: 700; 
}

/* Etape */
.etape {
  background-color: #F6F6F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease; /* Transition douce sur la couleur de fond */
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 32px;
  color: #FFF;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%); /* Fond en dégradé pour les boutons */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2); /* Ombre portée sur les boutons */
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 32px;
    background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%); 
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
    
    &:after {
      opacity: 1; /* Affiche l'effet de survol */
    }
  }
}

/* Icon Mobil */
.icon-mobil {
  color: #9356DC; 
}

.etape:hover .icon-mobil {
  color: #9356DC; 
}

.etape:last-child .icon-mobil {
  color: #9356DC; /* Restaure la couleur par défaut sur le dernier élément */
}
