

.loader {
    position: fixed; // Positionnement fixe pour couvrir toute la page
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Fond noir transparent
    display: flex;
    align-items: center; // Centre horizontalement
    justify-content: center; // Centre verticalement
    z-index: 1000; // Assurez-vous que le loader est au-dessus de tout le reste

    &__circle {
        width: 80px; // Taille du cercle
        height: 80px; // Taille du cercle
        border: 8px solid #f3f3f3; // Couleur du contour
        border-top: 8px solid #9356DC; // Couleur de l'animation
        border-radius: 50%; // Forme circulaire
        animation: spin 2s linear infinite; // Animation de rotation
    }
}

// Animation de rotation
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Masquer le loader après 2 secondes
#loader {
    animation: fadeOut 20s forwards; // Animation de disparition
    animation-delay: 2s; // Démarre la disparition après 2 secondes
}

@keyframes fadeOut {
    to {
        opacity: 0; // Rend l'élément transparent
        pointer-events: none; // Désactive les événements de la souris
    }
}
